#footer 
    width 720px
    margin 36px auto
    background-color transparent

    @media screen and (max-width 767.9px)
        &
            width 100%
            padding 0 16px

#disclaimer
    width 100%
    font-size 12px
    color var(--content)
    text-align left
    opacity .5